{% extends '::base.html.twig' %}

{% block content %}

    {% if genres %}

        {% for genre in genres %}

            <h1>{{ genre.name }}</h1>

        {% endfor %}

    {% else %}

        <p>
            {% trans %}text.no_genres{% endtrans %}
        </p>

    {% endif %}

{% endblock %}