{% extends '::base.html.twig' %}

{% block content %}

    {% if genres %}

        {% for genre in genres %}

            <h1>{{ genre.name }}</h1>

        {% endfor %}

    {% else %}

        <p>There are currently no genres</p>

    {% endif %}

{% endblock %}