{% extends '::base.html.twig' %}

{% block content %}

    <h1>
        {% trans %}title.add_genre{% endtrans %}
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <input type="submit" value="{% trans %}text.submit{% endtrans %}" class="btn--submit">
    {{ form_end(form) }}
{% endblock %}