{% for event in events %}
    <div style="padding: 20px; border: 1px solid black;" class="event">
        <h4>{{ event.name }}</h4>
        <a href="{{ path('worth_reading_joindin_events_show', { 'title': event.name | url_encode }) }}">
            Description
        </a>
        <a href="{{ path('worth_reading_joindin_talks', { 'title': event.name | url_encode }) }}">
            Talks
        </a>
    </div>
{% endfor %}