{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars-o.min.css">
{% endblock %}

{% block content %}

    {% block header %}
        <header>
            <img src="https://cdn.waterstones.com/images/00107529-2480x736.jpeg" alt="">
        </header>
    {% endblock %}

    {# page title #}
    <h1 class="float-left">
        {% trans %}title.recently_added{% endtrans %}
    </h1>

    <a class="btn--view-all" href="{{ path('worth_reading_books') }}">
        {% trans %}text.view_all{% endtrans %}
    </a>

    {# main book loop #}
    {% if books %}

        {% include '::book-grid.html.twig' with { 'books' : books } %}

        <div style="clear: both"></div>

    {% else %}

        <p>{% trans %}text.no_books{% endtrans %}</p>

    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/barrating_init.js') }}"></script>
{% endblock %}