{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars-o.min.css">
{% endblock %}

{% block content %}

    {% block header %}
        <header>
            <img src="https://cdn.waterstones.com/images/00107529-2480x736.jpeg" alt="">
        </header>
    {% endblock %}

    <h1>Recently Added</h1>

    {% if books %}

        {% include '::book-grid.html.twig' with { 'books' : books } %}

        <div style="clear: both"></div>

        <div>
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}

        <p>There are currently no books</p>

    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>
    <script src="{{ asset('js/barrating_init.js') }}"></script>
{% endblock %}