.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.upper {
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.float-left {
  float: left;
}

.gold {
  color: #ad874f !important;
}