{% extends '::base.html.twig' %}

{% block content %}

    {% if authors %}

        {% for author in authors %}

            <h1>{{ author.name }}</h1>

        {% endfor %}

    {% else %}

        <p>
            {% trans %}text.no_authors{% endtrans %}
        </p>

    {% endif %}

{% endblock %}